<section class="container main">

  <div class="row">
    <div class="banner">
    </div>
  </div>

  <br style="clearfix" />

  <div class="row title lala center">
    <span class="centered">
      A Promacal
    </span>
  </div>
  <div class="row infos border-top">
    <p>
      A <strong>Promacal</strong> está presente em Joinville há quase 20 anos, e desde sua fundação, seu objetivo sempre foi oferecer a maior variedade em tecidos e acessórios para os mais diversos fins.
    </p>
    <p>
      Poisicionada em três segmentos gerais, a Promacal atende através do seu grande portfólio de tecidos e acessórios no segmento da decoração interna e externa, residencial ou comercial.
    </p>
    <p>
      Atende o segmento automotivo, dispondo de vários tecidos para asa demais marcas automotivas, como também os demais materiais sintéticos.
    </p>
    <p>Ainda atende o segmento de artesanato, oferecendo toda uma variedade em <i>patchwork</i> e aviamentos em geral.</p>
  </div>

</section>