.footer {
  margin-bottom: 0;
}

.footer-menu {
  background-color: #232323;
  color: #a58747;
  line-height: 50px;
  font-size: 11px;
  margin-top: 35px;
}

.submenu {
  float: right;
  text-align: right;
}

.submenu a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
}

.submenu a:hover { color: #a58747; }